<!-- list.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div class="container">
    <h1>Student List</h1>

    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Enrolled Course</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.age}"></td>
            <td th:text="${student.enrolledcourse}"></td>
            <td>
                <a th:href="@{/students/edit/{id}(id=${student.id})}">Edit</a> |
                <a href="#" onclick="confirmDelete(this)" data-href="@{/students/delete/{id}(id=${student.id})}" class="delete-btn">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/students/add">Add New Student</a>
</div>
</body>

<script>
    function confirmDelete(element) {
        const href = element.getAttribute('data-href'); // Silme URL'sini al
        Swal.fire({
            title: 'Are you sure?',
            text: 'This action cannot be undone!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = href; // Silme URL'sine yönlendirme
            }
        });
    }
</script>